In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect("Urun_Listesi.db") # database oluşturduk.

In [3]:
cursor=connection.cursor()

In [6]:
def create_table():
    cursor.execute("CREATE TABLE IF NOT EXISTS products (ad TEXT,fiyat INT,stok INT)") # data içinde tablo oluşturduk.
    connection.commit()

In [7]:
create_table()

In [10]:
def veri_ekle():
    name=input("eklemek istediğiniz ürünü giriniz= ")
    fiyat=int(input("ürünün fiyatını giriniz= "))
    stok=int(input("üründen kaç adet var giriniz= "))
    cursor.execute("INSERT INTO products VALUES(?,?,?)",(name,fiyat,stok))
    connection.commit()

In [40]:
veri_ekle()

eklemek istediğiniz ürünü giriniz= Sony
ürünün fiyatını giriniz= 987
üründen kaç adet var giriniz= 17

In [17]:
def urun_listele():
    cursor.execute("SELECT * FROM products")
    liste=cursor.fetchall()
    for i in liste:
        print(f"Ürün adı={i[0]}, ürün fiyatı={i[1]}, ürün adeti={i[2]}")

In [18]:
urun_listele()

Ürün adı=İphone 6s, ürün fiyatı=1200, ürün adeti=12
Ürün adı=Apple, ürün fiyatı=1235, ürün adeti=15
Ürün adı=Asus, ürün fiyatı=1100, ürün adeti=8
Ürün adı=Xaiomi, ürün fiyatı=859, ürün adeti=14
Ürün adı=Huawei, ürün fiyatı=1050, ürün adeti=8
Ürün adı=Sony, ürün fiyatı=980, ürün adeti=17

In [19]:
def urun_listele2():
    cursor.execute("SELECT ad,fiyat FROM products")
    liste=cursor.fetchall()
    for i in liste:
        print(f"ürün adı={i[0]}, ürünün fiyatı={i[1]}")

In [20]:
urun_listele2()

ürün adı=İphone 6s, ürünün fiyatı=1200
ürün adı=Apple, ürünün fiyatı=1235
ürün adı=Asus, ürünün fiyatı=1100
ürün adı=Xaiomi, ürünün fiyatı=859
ürün adı=Huawei, ürünün fiyatı=1050
ürün adı=Sony, ürünün fiyatı=980

In [28]:
def urun_filter():
    cursor.execute("SELECT * FROM products WHERE ad = 'Apple'")
    liste=cursor.fetchall()
    for i in liste:
        print(f"ürün adı={i[0]}, ürünün fiyatı={i[1]}, ürün adeti={i[2]}")

In [29]:
urun_filter()

ürün adı=Apple, ürünün fiyatı=1235, ürün adeti=15

In [30]:
def urunad_guncelle():
    cursor.execute("UPDATE products SET ad='Xaomi-Mi6s' WHERE ad='Xaiomi' ")
    liste=cursor.fetchall()
    for i in liste:
        print(f"ürün adı={i[0]}, ürünün fiyatı={i[1]}, ürün adeti={i[2]}")
    connection.commit()

In [31]:
urunad_guncelle()

In [34]:
def urunad_guncelle2():
    db_ad=input("Hangi ürünü güncellemek istersiniz = ")
    update_ad=input("Ürünün yeni adını yazınız= ")
    cursor.execute("UPDATE products SET ad = ? WHERE ad = ?",(update_ad,db_ad))
    connection.commit()

In [35]:
urunad_guncelle2()

Hangi ürünü güncellemek istersiniz = Sony
Ürünün yeni adını yazınız= Honour

In [47]:
def urun_delete():
    delete_ad=input("Silmek istediğiniz ürün adını giriniz = ")
    cursor.execute("DELETE FROM products WHERE ad = ?",(delete_ad,))
    connection.commit()

In [48]:
urun_delete()

Silmek istediğiniz ürün adını giriniz = Sony